# Java Class Files
*.class

# Package Files
*.jar
*.war
*.ear

# 3rd party libs
!lib/G4P.jar

# Gradle Stuff
.gradle
/build
!gradle-wrapper.jar

# Intellij IDEA Stuff
.idea
*.ipr
*.iws
*.iml

# Eclipse Stuff
.project
.classpath
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OSX Stuff
.DS_Store
