/* ------------------------------------------------------------------------- *\
    Layout styles
\* ------------------------------------------------------------------------- */
.Root {
    -fx-font-family: "Helvetica Neue";
}

.TabPane {
}

.Container {
}

.Sidebar {
}


/* ------------------------------------------------------------------------- *\
    Form styles
\* ------------------------------------------------------------------------- */
.Label {
    -fx-font-size: 13px;
}

.SectionTitle {
    -fx-font-size: 20px;
    -fx-text-fill: #666666;
    -fx-font-weight: bold;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.Instruction {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-font-style: italic;
}

.Btn {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.Btn--large {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


/* ------------------------------------------------------------------------- *\
    Other
\* ------------------------------------------------------------------------- */
.Log {
    -fx-max-width: 380px;
    -fx-min-height: 50px;
}