/* ------------------------------------------------------------------------- *\
    Layout styles
\* ------------------------------------------------------------------------- */
.Root {
    -fx-font-family: "Helvetica Neue";
}

.TabPane {
}

.Container {
}

.Sidebar {
}


/* ------------------------------------------------------------------------- *\
    Form styles
\* ------------------------------------------------------------------------- */
.Label {
    -fx-font-size: 12px;
}

.Btn {
    -fx-font-size: 13px;
}

.Btn--large {
    -fx-font-size: 20px;
}


/* ------------------------------------------------------------------------- *\
    Other
\* ------------------------------------------------------------------------- */
.Log {
    -fx-max-width: 380px;
    -fx-min-height: 50px;
}